

.row{
  display: grid;
  grid-template-columns: 3fr 3fr;
}

h1 {
  text-align: center;
  background-color: rgba(32, 218, 168, 0.272);
  color: rgb(0, 0, 0);
  padding: 12px;
  border: 2px solid rgb(18, 213, 93);
  border-radius: 10px;
  margin: 10px;
  
}

h1:hover{
  background-color: aliceblue;
  color: black;
   border-color: rgb(0, 0, 0);
}
#calc {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 3px; 
  width: 250px;
  padding: 20px;
  margin: auto;
}
#calc:hover{
   background-color: aliceblue;
   border-color: rgb(12, 201, 132);
}

.formstyle {
  text-align: center;
  width: 300px;
  height: 530px;
margin: auto;
margin-top: 30px;
  border: 3px solid rgb(0, 255, 145);
  border-radius: 5px;
  padding: 20px;
}
input {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-color: rgb(12, 201, 132);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 20px;
  padding: 26px;
  margin: 5px;
  font-size: 15px;
}
input:hover{
   background-color: aliceblue;
   border-color: rgb(12, 201, 132);
}
#clear {
  width: 270px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 3px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  
}
#clear:hover{
   background-color: aliceblue;
   border-color: rgb(12, 201, 132);
}
